QMainWindow
{
background-image: url(:/Theme/BackImage/background.jpg);
color:white;
border:10px;
font:bold 15px;
}

QDialog{
background-image: url(:/Theme/BackImage/dialogback.png);
color:white;
border:0px;
font:bold 15px;
}
